.header-nav {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    position: relative;
}

.nav-link {
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    color: #FFFFFF;
    font-weight: 400;
    transition: all 0.5s;
}

.nav-link-small-screen {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    color: #FF8049;
    font-weight: 700;
    border-bottom: #FF8049;
    transition: all 0.5s;
}

.nav-link:active,
.nav-link:hover {
    border-bottom: 1px solid #FF8049;
    color: #FF8049;


}

.logo-header {
    margin-right: auto;
}

.nav-link-button {
    cursor: pointer;
    height: 2px;
    width: 25px;
}

.nav-link-stick {
    position: relative;
    cursor: pointer;
    height: 2px;
    width: 25px;
    display: block;
    background-color: #FF8049;
}

.nav-link-stick,
.nav-link-stick::before,
.nav-link-stick::after {
    height: 2px;
    width: 25px;
    display: block;
    background-color: #FF8049;
}

.nav-link-stick::before,
.nav-link-stick::after {
    content: '';
    position: absolute;

}

.nav-link-stick::before {
    top: -8px
}

.nav-link-stick::after {
    top: 8px;
}

.nav-links-small-screen {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: auto;
    background-color: #383F50;
    top: 100%;
    right: 0px;
    border: 1px solid #FF8049;
    z-index: 1000;

}

@media only screen and (min-width: 450px) {
    .nav-link-button {
        display: none;
        width: 0px;
    }

    .nav-link-small-screen {
        display: none;
        width: 0px;
    }
}


@media only screen and (max-width: 600px) {

    .header-nav {
        width: 90%;
    }

    .nav-link {
        margin-left: 5px;
        padding: 5px 10px;
    }

}

@media only screen and (max-width: 450px) {
    .nav-links {
        display: none;
    }
}