@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;700;900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 18px;
    background-color: #E5E5E5;
}

.container {
    display: grid;
    grid-template-rows: 150vh min-content min-content min-content min-content;
    grid-template-columns: 1fr repeat(8, minmax(min-content, 142px)) 1fr;
    width: 100%;
}



.header-section {
    grid-column: 2 / 10;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    position: relative;
}

.heading-1 {
    font-weight: 900;
    font-size: 60px;
}

.heading-1-light {
    font-weight: 900;
    font-size: 50px;
    color: #FFFFFF;
}

.button {
    display: flex;
    height: 62px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #FF8049;
    font-weight: 900;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05);
}


.button:hover,
.button:hover {
    background-color: #FFFFFF;
    color: #FF8049;
    border: 2px solid #FF8049;
    transition: all 0.5s;

}



@media only screen and (max-width: 1200px) {
    .heading-1 {
        font-size: 45px;
        margin-bottom: 20px;
    }

    .heading-1-light {
        font-size: 45px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 900px) {

    /* adjust to keep background-image nice */
    .container {
        grid-template-rows: 130vh min-content min-content min-content min-content;

    }
}

@media only screen and (max-width: 800px) {

    /* adjust to keep background-image nice */
    .container {
        grid-template-rows: 120vh min-content min-content min-content min-content;

    }
}

@media only screen and (max-width: 700px) {

    /* adjust to keep background-image nice */
    .container {
        grid-template-rows: 110vh min-content min-content min-content min-content;

    }
}

@media only screen and (max-width: 600px) {

    /* adjust to keep background-image nice */
    .container {
        grid-template-rows: 90vh min-content min-content min-content min-content;

    }
}

@media only screen and (max-width: 500px) {

    /* adjust to keep background-image nice */
    .container {
        grid-template-rows: 80vh min-content min-content min-content min-content;

    }
}


@media only screen and (max-width: 1000px) {
    .heading-1 {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .heading-1-light {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .button {
        height: 50px;
    }

}



@media only screen and (max-width: 700px) {
    .heading-1 {
        font-size: 35px;
    }

    .heading-1-light {
        font-size: 35px;
    }

}

@media only screen and (max-width: 600px) {
    .heading-1 {
        font-size: 25px;
    }

    .heading-1-light {
        font-size: 25px;
    }

}

@media only screen and (max-width: 450px) {
    .button {
        height: 35px;
        font-size: 12px;
    }

}